<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ToDo アプリ</title>
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
    
</head>
<body>
    <h1>ToDo アプリ</h1>
    <div id="app">
        <div class="p106" v-for="item2 in items2" :key="item2.id">
            {{ item2.name }}
        </div>

        <div class="p105" v-for="(value, key, index) in object">
            {{ index }}: [{{ key }}] {{ value }}
        </div>
        <div class="p104" v-for="value in object">{{ value }}</div>
        <div class="p103" v-for="(item, index) in items">{{ index }}: {{ item }}</div>
        <div class="p102" v-for="item in items">{{ item }}</div>

        <div v-if="value >= 10">10以上</div>
        <div v-else-if="value >= 5">5以上</div>
        <div v-else>5未満</div>

        <div class="p98" v-if="isShow"></div>
        <div v-bind:style="{ color: defaultColor }"></div>

        <div class="default-class" v-bind:class="className"></div>
    </div>
    <script src="app.js"></script>
</body>
</html>